* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f4;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  cursor: pointer;
}

.task-card {
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
}
.task-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.error {
  color: red;
  margin-top: 10px;
}
